#gameover{
  color: white;
  width: 80%;
  margin:auto;
  animation: animatetop 0.5s;
}

@keyframes animatetop {
  from {transform: translateY(20px); opacity: 0}
  to {transform: translateY(0px); opacity: 1}
}

