.vidas-conteiner{
  display: flex;
  flex-direction: row;
  margin: auto;
  height: auto;
}

.celda-vidas{
  margin: 0;
  width: 1rem;
  aspect-ratio: 1/1;
  border: 0.1px   solid  white;
}

.celda-vidas.x{
  background-color: #a43236;
}

.celda-vidas.o{
  background-color: #3281A4;
}