.vidas-conteiner{
  display: flex;
  flex-direction: row;
  margin: auto;
  height: auto;
  animation: none;
}


.celda-vidas{
  margin: 0;
  width: 1rem;
  aspect-ratio: 1/1;
  animation: none;
}

.celda-vidas.x{
  color: #061116;
}

.celda-vidas.o{
  color: #a43236;
}

