#tablero{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 10px;
  margin: 30px auto;
  width: 80%;
}

#memoria{
  color: white;
}


#volver{
  text-align: left;
  margin: 15px 10px;
  font-size: 0.8rem;
  cursor: pointer;
  margin-bottom: 0;
}

#volver:hover{
  text-shadow: black 2px 0px;
  transform: translateX(-2px);
  transition: all 0.2s;
}

#movimientos{
  margin: 0;
}