#tablero-memoria{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 10px;
  margin: 30px auto;
  width: 80%;
}

#movimientos{
  margin: 0;
}

@media screen and (min-width: 760px) {
  #tablero-memoria{
    gap: 50px;
    width: 60%;
  }
}