#volver{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
}

#btn-volver{
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-between;
}

#volver p{
  margin: 15px 10px;
  font-size: 0.8rem;
  margin-bottom: 0;
  color: white;
  text-align: center;
}

.btn-volver{
  text-align: left;
}


.btn-volver:hover{
  text-shadow: black 2px 0px;
  transform: translateX(-2px);
  transition: all 0.2s;
  cursor: pointer;
}

@media screen and (min-width: 760px) {
  #volver{
    font-size: 20px;
  }
}