.barco-conteiner{
  display: flex;
  flex-direction: row;
  margin: auto;
  height: auto;
  background-color: #1e2c38;
  padding: 0.25rem 0.5rem;
  border-radius: 49% 51% 48% 52% / 48% 50% 50% 52% 
}

.hundido{
  opacity: 0.2;
}

.celda-barco{
  margin: 0;
  width: 0.6rem;
  aspect-ratio: 1/1;
  border: 0.1px   solid  white;
}

.celda-barco.x{
  background-color: #c41c1c;
}

.celda-barco.o{
  background-color: #0b5394;
}