:root{
--blanco:#eeeeee;
--azul-os:#073763;
--rojo-os:#990000;
--azul-cl:#0b5394;
--rojo-cl:#cc0000;
}



#tablero-batalla{
  background-color: #0b5394;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(10,1fr);
  gap:0;
  margin: auto;
}

#barcos-faltantes{
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4,auto);
  gap: 10px;
  flex-direction: row;
}

#batalla-naval p{
  font-size: 0.5rem;
}


@media screen and (min-width: 760px) {
  #batalla-naval{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto auto;
    width: 80%;
    margin:-10px  auto 20px auto ;
  }
  #batalla-naval div:first-of-type{
    grid-column: 2;
  }
  #batalla-naval p:first-of-type{
    grid-column: 1;
    grid-row: 1;
    align-self: center;
  }
  #tablero-batalla{
    grid-column: 2;
    grid-row: 2;
    width: 70%;
  }
  #barcos-faltantes{
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
  .barco-conteiner{
    margin: 10px 0;
  }
}