:root{
--blanco:#eeeeee;
--azul-os:#073763;
--rojo-os:#990000;
--azul-cl:#0b5394;
--rojo-cl:#cc0000;
}

#tablero{
  background-color: #0b5394;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(10,1fr);
  gap:0;
}