:root{
  font-size: 5vw;
  font-family: 'Chivo Mono', monospace;
  color: white;
}

body {
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #856941;
  transition: all 1s;
}

@media screen and (min-width: 760px) {
  :root{
    font-size: 3vw;
  }
}

body *{
  animation: animatetop 0.5s;
}

@keyframes animatetop {
  from {transform: translateY(20px); opacity: 0}
  to {transform: translateY(0px); opacity: 1}
}
/* white #d1c5b7	
brown 1 #856941	
brown 2 #735d41	
blue sky #0193b7	
blue king #063e53
red #ee2823
*/
